/**cols and Rows **/

body {
    margin: 0;
    padding: 0;
}
.standardCenter {
    margin: 0 auto;
    width: 80%;
}
.container {
    width: 100%;
}
.clear {
    clear: both;
    margin: 0;
}
.col-mid-95 {
    float: left;
    width: 95%;
}
.col-mid-90 {
    float: left;
    width: 90%;
}
.col-mid-85 {
    float: left;
    width: 85%;
}
.col-mid-80 {
    float: left;
    width: 80%;
}
.col-mid-75 {
    float: left;
    width: 75%;
}
.col-mid-70 {
    float: left;
    width: 70%;
}
.col-mid-65 {
    float: left;
    width: 65%;
}
.col-mid-60 {
    float: left;
    width: 60%;
}
.col-mid-50 {
    float: left;
    width: 50%;
}
.col-mid-45 {
    float: left;
    width: 45%;
}
.col-mid-40 {
    float: left;
    width: 40%;
}
.col-mid-35 {
    float: left;
    width: 35%;
}
.col-mid-30 {
    float: left;
    width: 30%;
}
.col-mid-25 {
    float: left;
    width: 25%;
}
.col-mid-20 {
    float: left;
    width: 20%
}
/**Three COlumns**/

.col-mid-33-col {
    float: left;
    width: 33.33%;
}
/* ---------- Responsive ---------- */
/* ---------- Laptop ---------- */

@media only screen and (max-width: 1366px) {} @media only screen and (max-width: 1024px) {}
/* ---------- Mobile Phones ---------- */

@media only screen and (max-width: 639px) {
	.standardCenter {
    margin: 0 auto;
    width: 95%;
   }

    .col-mid-95,
    .col-mid-90,
    .col-mid-85,
    .col-mid-80,
    .col-mid-75,
    .col-mid-70,
    .col-mid-65,
    .col-mid-60,
    .col-mid-55,
    .col-mid-50,
    .col-mid-45,
    .col-mid-40,
    .col-mid-35,
    .col-mid-30,
    .col-mid-25,
    .col-mid-20
    {
        float:none;
        width:100%;
    }
    .col-mid-33-col {
        float: none;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
	.standardCenter {
    margin: 0 auto;
    width: 95%;
   }
    .col-mid-95,
    .col-mid-90,
    .col-mid-85,
    .col-mid-80,
    .col-mid-75,
    .col-mid-70,
    .col-mid-65,
    .col-mid-60,
    .col-mid-55,
    .col-mid-50,
    .col-mid-45,
    .col-mid-40,
    .col-mid-35,
    .col-mid-30,
    .col-mid-25,
    .col-mid-20
    {
        float: none;
        width: 100%;
    }
    .col-mid-33-col {
        float: none;
        width: 100%;
    }
}
/**-----------------------------------------------Landscape----------------------------------**/

@media only screen and (max-width: 736px) {
	.standardCenter {
    margin: 0 auto;
    width: 95%;
   }
    .col-mid-95,
    .col-mid-90,
    .col-mid-85,
    .col-mid-80,
    .col-mid-75,
    .col-mid-70,
    .col-mid-65,
    .col-mid-60,
    .col-mid-55,
    .col-mid-50,
    .col-mid-45,
    .col-mid-40,
    .col-mid-35,
    .col-mid-30,
    .col-mid-25,
    .col-mid-20
    {
        float: none;
        width: 100%;
    }
    .col-mid-33-col {
        float: none;
        width: 100%;
    }
}